.root {
	display: flex;
	align-items: center;
	color: #595959;

	span {
		margin-right: 24px;
	}

	@media (max-width: 992.8px) {
		span {
			display: none;
		}
	}

	img {
		
		border-radius: 50%;
	}
}


