@import '@/styles/variables.scss';

.root {
	min-height: calc(100vh - 100px);
	background-color: $background-light;
    background-image: url('/assets/image/sections/map.svg');
	background-repeat: no-repeat;
	background-position: right bottom 50%;
	background-size: 58%;
	display: flex;
	align-items: center;

	.main {
		max-width: 45%;

		h1 {
			font-weight: bold;
			color: #4F4F4F;
			font-size: 36px;
		}

		@media (max-width: 900px) {
			max-width: 100%;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		p {
			margin-top: 24px;
			margin-bottom: 48px;
		}
	}

	@media (max-width: 1199.8px) {
        background-size: contain;
        text-align: center;
        
        .main {
            margin: 0 auto;
            max-width: 80%;
        }

        .btn {
            width: fit-content;
            margin: 0 auto;
        }
	}

	@media (max-width: 991.8px) {
        .main {
            margin: 0 auto;
            max-width: 100%;
        }
	}
	@media (max-width: 767.8px) {
        

	}
	@media (max-width: 575.8px) {
	}
}
