.root {
  padding: 26px 0 26px 75px;
}
.h1 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 18px;
  text-transform: none;
  padding-top: 40px;
}
