@import '@/styles/variables.scss';

.root {
	background-color: $background-light;
	display: flex;
	justify-content: space-between;
	padding-bottom: 120px;
	flex-wrap: wrap;
}

.counterCard {
	padding-bottom: 25px;
	border-bottom: 2px solid #cccccc;
	width: 239px;

	.count {
		font-weight: bold;
		font-size: 48px;
		line-height: 57px;
		color: #0b132a;
	}

	.iconCount {
		display: flex;
		justify-content: flex-start;
		margin-top: 13px;

		.iconText {
			font-size: 18px;
			line-height: 30px;
			color: #4f5665;
			text-transform: capitalize;
			margin-left: 14.67px;
		}
	}

	@media (max-width: 1199.8px) {
        width: 40%;
        margin-bottom: 3rem;
	}

	@media (max-width: 991.8px) {
	}
	@media (max-width: 767.8px) {
	}
	@media (max-width: 575.8px) {
        width: 100%;
        align-content: center;

        .iconCount {
            justify-content: space-between;
        }
	}
}
